 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 319px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 310px 407px 60px 415px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 734px;
    margin-left: 315px;
    margin-right: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    width: 720px;
    margin-left: 205px;
    margin-right: 197px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-left: 115px;
    margin-right: 107px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-left: 15px;
    margin-right: 7px;
  }
}