 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1304px;
}

.u-section-1 .u-shape-1 {
  width: 5799px;
  height: 1219px;
  margin: 85px -5819px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 1508px;
  --radius: 50px;
  height: auto;
  background-image: none;
  min-height: 1314px;
  margin: -1219px -368px -95px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 46px auto 0 43px;
}

.u-section-1 .u-group-2 {
  width: 479px;
  --radius: 10px;
  height: auto;
  min-height: 298px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 68px auto 0 81px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 12px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 16px 303px 0 13px;
}

.u-section-1 .u-tabs-1 {
  min-height: 222px;
  width: 429px;
  height: auto;
  margin: 13px auto 0;
}

.u-section-1 .u-tab-link-1 {
  border-style: solid;
  --radius: 9px;
  padding: 10px 24px;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
  width: 8px;
  height: 8px;
  font-size: 0.875em;
  margin-right: 5px;
}

.u-section-1 .u-tab-link-2 {
  border-style: solid;
  --radius: 9px;
  padding: 10px 24px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  font-style: normal;
  margin: 0 10px;
}

.u-section-1 .u-group-3 {
  width: 479px;
  --radius: 10px;
  height: auto;
  min-height: 295px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -297px 456px 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 6px 12px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 10px 247px 0 13px;
}

.u-section-1 .u-tabs-2 {
  min-height: 222px;
  width: 429px;
  height: auto;
  margin: 13px auto -10px;
}

.u-section-1 .u-tab-item-3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-1 .u-tab-link-3 {
  border-style: solid;
  --radius: 9px;
  padding: 10px 24px;
}

.u-section-1 .u-icon-2 {
  vertical-align: 0px;
  width: 8px;
  height: 8px;
  font-size: 0.875em;
  margin-right: 5px;
}

.u-section-1 .u-tab-item-4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-1 .u-tab-link-4 {
  border-style: solid;
  --radius: 9px;
  padding: 10px 24px;
}

.u-section-1 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  font-style: italic;
  margin: 0 auto;
}

.u-section-1 .u-tab-pane-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 21px 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  font-style: normal;
  margin: 6px 14px 0;
}

.u-section-1 .u-group-4 {
  width: 967px;
  --radius: 10px;
  height: auto;
  min-height: 345px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 24px auto 0 85px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 21px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 15px 671px 0 9px;
}

.u-section-1 .u-icon-3 {
  width: 21px;
  height: 21px;
  margin: -29px auto 0 159px;
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: 21px auto 0 11px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 136px;
  width: 925px;
  margin: 13px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  --radius: 10px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  width: 100%;
  --radius: 50px;
  font-weight: 700;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 1082px;
    margin-right: -142px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 15px;
    margin-left: 43px;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: -295px;
    margin-right: 60px;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    width: 977px;
    min-height: 346px;
    margin-top: 16px;
    margin-left: 45px;
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 693px;
    margin-left: 3px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 162px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 14px;
  }

  .u-section-1 .u-form-1 {
    height: 289px;
    margin-top: -125px;
    margin-right: 23px;
    margin-left: 0;
    width: 898px;
  }

  .u-section-1 .u-form-group-1 {
    margin-top: 133px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1698px;
  }

  .u-section-1 .u-shape-1 {
    width: 5812px;
    height: 1780px;
    margin-top: 104px;
    margin-right: -5811px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1638px;
    width: 866px;
    margin-top: -1780px;
    margin-right: -146px;
    margin-bottom: -44px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 24px;
    margin-left: 85px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 24px;
    margin-right: auto;
    margin-left: 85px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-1 .u-group-4 {
    width: 484px;
    min-height: 502px;
    margin-top: 19px;
    margin-right: 151px;
    margin-left: 85px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 202px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 447px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 615px;
    margin-right: -75px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-2 {
    margin-left: 61px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 61px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-tabs-2 {
    margin-bottom: 0;
    margin-left: 15px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    min-height: 392px;
    margin-right: 0;
    margin-left: 61px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
    width: auto;
    margin-top: 16px;
    margin-right: 342px;
    margin-left: 15px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -24px;
    margin-left: 114px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 424px;
    margin-right: -84px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: 19px;
    margin-left: 29px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: 162px;
    margin-left: 15px;
  }

  .u-section-1 .u-tabs-1 {
    width: 320px;
    margin-top: 14px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-top: 15px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 111px;
    margin-left: 10px;
  }

  .u-section-1 .u-tabs-2 {
    width: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
    min-height: 467px;
    margin-top: 22px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 13px;
    margin-right: 199px;
    margin-left: 14px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -23px;
    margin-left: 115px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 17px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}

.u-section-1 .u-group-2,
.u-section-1 .u-group-2:before,
.u-section-1 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-2.u-group-2.u-group-2:hover {
  transform: translateX(0px) translateY(-3px) !important;
}

.u-section-1 .u-group-2.u-group-2.u-group-2.hover {
  transform: translateX(0px) translateY(-3px) !important;
}

.u-section-1 .u-group-3,
.u-section-1 .u-group-3:before,
.u-section-1 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-3.u-group-3.u-group-3:hover {
  transform: translateX(0px) translateY(-3px) !important;
}

.u-section-1 .u-group-3.u-group-3.u-group-3.hover {
  transform: translateX(0px) translateY(-3px) !important;
}

.u-section-1 .u-group-4,
.u-section-1 .u-group-4:before,
.u-section-1 .u-group-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-4.u-group-4.u-group-4:hover {
  transform: translateX(0px) translateY(-3px) !important;
}

.u-section-1 .u-group-4.u-group-4.u-group-4.hover {
  transform: translateX(0px) translateY(-3px) !important;
}