 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1645px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 2px 2px 33px rgba(0,0,0,1);
  margin: 101px auto 0 45px;
}

.u-section-1 .u-shape-1 {
  width: 85px;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,1);
  height: 662px;
  --radius: 46px;
  background-image: linear-gradient(#e5e5e5, #c0c0c0);
  margin: 23px auto 0 -85px;
}

.u-section-1 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: -640px auto 0 -62px;
}

.u-section-1 .u-icon-2 {
  width: 40px;
  height: 40px;
  margin: 124px auto 0 -62px;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 40px;
  height: 40px;
  margin: -123px auto 0 -62px;
}

.u-section-1 .u-icon-4 {
  width: 31px;
  height: 31px;
  margin: 468px auto 0 -58px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 677px;
  margin: -642px auto 0 45px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 414px;
  background-image: none;
  --radius: 15px;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 19px;
}

.u-section-1 .u-group-1 {
  width: 364px;
  --radius: 10px;
  height: auto;
  background-image: linear-gradient(#db545a, #782d31);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 69px;
  margin: 13px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-1 .u-icon-5 {
  width: 29px;
  height: 29px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  color: rgb(0, 0, 0) !important;
  margin: 16px auto 0 10px;
  padding: 6px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -36px 0 0 27px;
}

.u-section-1 .u-text-3 {
  margin: 18px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 951px auto 0;
}

.u-section-1 .u-icon-6 {
  width: 19px;
  height: 19px;
  margin: -22px auto 41px 573px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1331px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: 43px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 362px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 272px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 320px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 171px;
  }
}