<!DOCTYPE html>
    <html style="font-size: 16px;" lang="en">
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Flare Dashboard | Dashboard</title>
        <link rel="stylesheet" href="./static/froala.css" media="screen">
        <link rel="stylesheet" href="./static/login.css" media="screen">
        <link rel="icon" href="./images/icon.png" type="image/png">
        <script class="u-script" type="text/javascript" src="./static/jquery.js"></script>
        <script class="u-script" type="text/javascript" src="./static/bundle.js"></script>
        <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
        <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Ubuntu:300,300i,400,400i,500,500i,700,700i">
        <style>
          body {
              background-color: #1e1e1e; /* Replace with your desired color */
          }
       </style>
        <script>
          $(document).ready(function() {
            $('#submit-btn').click(function(event) {
              event.preventDefault();
              const username = $('#username').val();
              const password = $('#password').val();
              const credentials = {
                username: username,
                password: password
              };
              const jsonData = JSON.stringify(credentials);
              $.ajax({
                type: 'POST',
                url: '/login',
                data: jsonData,  // Send JSON data
                contentType: 'application/json; charset=utf-8',  // Set correct content type
                dataType: 'json',
                success: function(response) {
                  console.log('Login successful!');
                  window.location.href = '/dashboard';
                },
                error: function(xhr, status, error) {
                  console.error('Login failed: ', error);
                  alert('Login failed. Please check your username and password.');
                }
              });
            });
          });
        </script>
      </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-overlap u-overlap-transparent u-xl-mode" data-lang="en">
    <section class="u-clearfix u-custom-color-2 u-section-1" id="sec-8654">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-contain u-image-default u-image-1" src="./images/webdash.png" alt="" data-image-width="1920" data-image-height="408" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">
        <div class="u-container-style u-group u-shape-rectangle u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">
          <div class="u-container-layout u-valign-bottom u-container-layout-1">
            <div class="u-form u-form-1">
            <form id="loginForm" action="/login" method="POST" class="u-clearfix u-form-spacing-50 u-form-vertical u-inner-form" style="padding: 50px;" source="email" name="login">
              <div class="u-form-group u-form-name u-label-top">
                <label for="username" class="u-label">User</label>
                <input type="text" id="username" name="username" class="u-input u-input-rectangle u-radius u-input-1" required="required">
              </div>
              <div class="u-form-group u-label-top">
                <label for="password" class="u-label">Password</label>
                <input type="password" id="password" name="password" class="u-input u-input-rectangle u-radius u-input-2" required="required">
              </div>
              <div class="u-align-right u-form-group u-form-submit u-label-top">
                <button type="submit" id="submit-btn" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-radius u-white u-btn-1">Open Dashbord</button>
                <input type="submit" value="submit" id="submit-btn" class="u-form-control-hidden">
              </div>
            </form>

            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
    <footer class="u-align-center u-clearfix u-custom-color-3 u-footer u-footer" id="sec-893c"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Flare Dashboard @ {{ localip }}<br>made with&nbsp;<span class="u-file-icon u-icon u-text-white u-icon-1"><img src="./images/heart.png" alt=""></span>&nbsp;by tago
        </p>
      </div>
    </footer>

</body></html>